body {
  margin: 0;
  font-family: 'Courier New', 'monospace', 'Architects Daughter', 'cursive', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:black; 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gif--form{
  width: 900px;
  margin: auto;
  font-size: 24px;
}